body {
    font-size: 13px;
    font-family: 'Nunito', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif'
}

.btn {
    font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

th {
    font-size: 13px;
    font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media print {
    .print-container {
        background-color: white;
        height: 100%;
        width: 100%;
        /* position: fixed; */
        top: 0;
        /* left: 0; */
        /* margin: 0; */
        /* padding: 15px; */
        /* font-size: 14px; */
        /* line-height: 18px; */
    }

    .no-print {
        display: none;
    }
}

.mn-alert {
    /* border: 1px solid #fff; */
    /* background: #fff; */
    /* border-left: 3px solid #fff; */
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    padding: 0;
    padding: 15px 30px;
}

.mn-alert.alert-dismissible .close {
    font-size: 16px;
    /* color: black; */
    opacity: 0.2;
    padding: 0 23px;
    top: 0;
    bottom: 0;
}

.mn-alert > i {
    font-size: 30px;
    /* color: #00ad5f; */
    vertical-align: middle;
    margin-right: 10px;
}

.mn-alert .content {
    font-size: 16px;
    /* color: #808080; */
}

@media (max-width: 991px) {
    .mn-alert--70per {
        width: 95%;
    }
}


.imagePreview {
    width: 100%;
    min-height: 180px;
    background-position: center center;
    background:url(/images/prev.jpg);
    background-color:#fff;
    background-size: cover;
    background-repeat:no-repeat;
    display: inline-block;
    box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
    margin-bottom:15px;
}

.imgUp
{
    margin-bottom:15px;
}

.overflow-break {
    overflow-wrap: break-word;
}